.SignUp{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.SignUp h1 {
    color: #fff;
    margin-top: 1em;
    font-size: 3em;
}

.SignUp form {
    text-align: left;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 320px) {

    .SignUp{
        width: 100%;
    }

    .SignUp h1 {
        margin-top: 1em;
        font-size: 1.5em;
    }

    .SignUp form {
        text-align: left;
        margin-top: 1em;
    }
}

@media (min-width: 768px) {

    .SignUp h1 {
        font-size: 2em;
    }
}

@media (min-width: 1024px) {
    .SignUp h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 1366px) {
    .SignUp h1 {
        font-size: 3em;
    }
}

