.InputContainer {
  height: 100%;
  width: 100%;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  border-top: 3px solid rgb(41, 153, 91);
}

.InputContainer form {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.InputContainer h2 {
  font-size: 2em;
  margin-bottom: 2em;
  color: #fff;
  text-transform: uppercase;
  justify-self: left;
}

.InputContainer form div {
  margin-top: 1em;
}

.side {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 320px) {
  .InputContainer h2 {
    font-size: 1em;
    margin-bottom: 1em;
  }
}

@media (min-width: 768px) {
  .InputContainer h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1366px) {
  .InputContainer h2 {
    font-size: 2em;
    margin-bottom: 2em;
  }
}
