.Section {
  width: 100%;
  margin: 0 auto;
  margin-top: 3em;
}

.Section__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0em;
  grid-row-gap: 2em;
  justify-items: center;
  align-items: center;
}

.Section__title {
  margin-bottom: 2em;
  color: rgb(141, 141, 141);
  font-size: 0.9em;
  margin-left: 1.5em;
}

@media (min-width: 768px) {
  .Section__container {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0em;
  }
}

@media (min-width: 1024px) {
  .Section__container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0em;
  }
}
