.HeroInput {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.HeroInput__label {
  display: block;
  transform: translate(0, -6em);
  transition: all 0.2s ease-out;
  color: rgb(100, 100, 100);
}

.HeroInput__input {
  width: 100%;
  font-family: "Dosis", sans-serif;
  font-size: 1.5em;
  border: none;
  padding-bottom: 0.1em;
  transition: all 0.2s;
  color: rgb(100, 100, 100);
  border-bottom: 2px solid dodgerblue;
}

.HeroInput__input:focus {
  outline: none;
  padding-bottom: 0.3em;
  border-bottom: 3px solid dodgerblue;
}

.HeroInput__input:placeholder-shown ~ .HeroInput__label {
  opacity: 0;
  visibility: hidden;
  font-size: 1.3em;
  transform: translate(0, -3em);
  border: none;
}
