.Item {
    width: 100%;
    margin: 0 auto;
    /* display: flex;
      justify-content: space-between; */
    display: grid;
    padding: 1em 0em;
    grid-template-columns: 20% 60% 20%;
  }
  
  .Item:hover {
    background-color: rgb(231, 231, 231);
  }
  
  .Item__message {
    text-align: left;
    justify-self: left;
    font-size: 20px;
    margin: 0;
  }
  
  .Item__close {
    justify-self: center;
    position: relative;
    cursor: pointer;
    width: 1em;
    height: 1em;
    opacity: 0.3;
    z-index: 0;
  }

  .Item__time {
    text-align: left;
    justify-self: left;
    font-size: .7em;
    margin: 0;
  }
  
  .Item__close:hover {
    opacity: 1;
  }
  
  .Item__close:before,
  .Item__close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 1.5em;
    width: 2px;
    background-color: rgb(105, 105, 105);
  }
  
  .Item__close:before {
    transform: rotate(45deg);
  }
  
  .Item__close:after {
    transform: rotate(-45deg);
  }
  
  .Item__checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    margin-top: 1em;
    justify-self: center;
  }
  .Item__checkbox:before {
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 0.35rem;
    top: 0.35rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.375rem;
    border: 2px solid #16a085;
    border-top-style: none;
    border-right-style: none;
  }
  .Item__checkbox:checked:before {
    transform: rotate(-45deg) scale(1, 1);
  }
  .Item__checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid #b4b4b4;
    padding: 5px;
    cursor: pointer;
  }
  

  @media (min-width: 1024px){
    .Item__message {
      font-size: 2em;
    }
    .Item__time {
      font-size: 1em;
    }
    
    .Item__checkbox:before {
      left: 0.5rem;
      top: 0.35rem;
      width: 1rem;
      height: .6rem;
    }

    .Item__checkbox:after {
      width: 2rem;
      height: 2rem;
    }
  }