.Controls {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.ControlsActive {
    width: 100%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}